Language: JavaScript

AlignAfterOpenBracket:                  DontAlign
AlignConsecutiveAssignments:            false
AlignConsecutiveDeclarations:           false
AlignOperands:                          Align
AlignTrailingComments:                  true
AllowShortBlocksOnASingleLine:          Empty
AllowShortCaseLabelsOnASingleLine:      false
AllowShortFunctionsOnASingleLine:       Empty
AllowShortIfStatementsOnASingleLine:    Never
AllowShortLoopsOnASingleLine:           false
BinPackArguments:                       true
BinPackParameters:                      true
BraceWrapping:
  AfterClass:                           false
  AfterControlStatement:                false
  AfterEnum:                            false
  AfterFunction:                        true
  AfterNamespace:                       true
  AfterObjCDeclaration:                 false
  AfterStruct:                          false
  AfterUnion:                           false
  AfterExternBlock:                     false
  BeforeCatch:                          false
  BeforeElse:                           false
  IndentBraces:                         false
  SplitEmptyFunction:                   true
  SplitEmptyRecord:                     true
  SplitEmptyNamespace:                  true
BreakBeforeBinaryOperators:             NonAssignment
BreakBeforeBraces:                      Custom
BreakBeforeTernaryOperators:            true
ColumnLimit:                            80
ContinuationIndentWidth:                8
DeriveLineEnding:                       true
IndentCaseBlocks:                       false
IndentCaseLabels:                       false
IndentWidth:                            8
InsertTrailingCommas:                   None
JavaScriptQuotes:                       Double
JavaScriptWrapImports:                  true
KeepEmptyLinesAtTheStartOfBlocks:       false
MaxEmptyLinesToKeep:                    2
ReflowComments:                         true
SpaceAfterLogicalNot:                   false
SpaceBeforeAssignmentOperators:         true
SpaceBeforeParens:                      ControlStatements
SpaceBeforeSquareBrackets:              false
SpaceInEmptyBlock:                      false
SpaceInEmptyParentheses:                false
SpacesBeforeTrailingComments:           1
SpacesInAngles:                         false
SpacesInConditionalStatement:           false
SpacesInContainerLiterals:              false
SpacesInParentheses:                    false
SpacesInSquareBrackets:                 false
TabWidth:                               8
UseCRLF:                                false
UseTab:                                 Always

# Taken from git's rules (Except PenaltyBreakAssignment)
PenaltyBreakAssignment:                             100
PenaltyExcessCharacter:                             100